.container {
  width: 100%;
  /* height: 350px; */
  background-color: black;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.formRow {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-block: 60px;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 1.125rem;
  color: white;
  letter-spacing: 0.5px;
}

.form {
  display: flex;
  gap: 6px;
  align-items: center;
}

.emailInput {
  width: 380px;
  height: 46px;
  border: 0;
  background-color: #333333;
  padding-left: 12px;
  color: white;
}

.emailInput::placeholder {
  color: #cacaca;
}

.emailSubmit {
  background-color: #f4c979;
  border: 0;
  width: 80px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.emailSubmit:hover {
  cursor: pointer;
}

.linkRow {
  display: flex;
  gap: 150px;
  align-items: flex-start;
  justify-content: center;
  /* padding-bottom: 40px; */
}

.footerBlockTitle {
  color: white;
  font-size: 1.1rem;
  font-weight: 500;
}

.footerBlock {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.footerBlock:first-of-type,
.footerBlock:last-of-type {
  width: 200px;
}

.footerBlock:first-of-type {
  align-items: flex-end;
}

.footerLinkBlocks {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.footerLink {
  color: #c0c0c0;
  text-decoration: none;
  font-size: 11px;
}

.socialMedia {
  display: flex;
  gap: 40px;
}

.copyRightRow {
  width: 100%;
  padding: 60px 40px 10px 40px;
  color: #989898;
  font-size: 10px;
  text-align: center;
}
